<%= link_to(content) do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= content.title %>
    </div>
    <div class="panel-body">
      <%= content.text.slice(0, 20) %>...
    </div>
  </div>
<% end %>